@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
  }
  
  ul {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
  }
  
  h1 {
    font-size: 60px;
  }
  h2 {
    color: #303030;
    font-size: 38px;
    font-weight: 400;
    text-transform: capitalize;
  }

body {
  font-family: "Fira Sans", sans-serif;
  color: #686868;
}
/* start navbar  */
.navbar {
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 99999;
  box-shadow: gainsboro 0px 0px 10px;
}
.navbar-left {
  float: left;
  width: 10%;
  padding: 19px 0;
}

.navbar-left img {
  width: 100%;
}

.navbar-right {
  float: right;
  width: 50%;
  overflow: hidden;
}

.navbar-right .list {
  float: left;
  width: 90%;
  overflow: hidden;
}

.navbar-right .search {
  float: right;
  width: 10%;
  color: #888;
  padding: 30px 0;
}

.navbar-right .list .item {
  float: left;
  width: fit-content;
  margin: 0 10px;
  padding: 30px 0;
}

.menu {
  display: none;
  float: right;
  width: 10%;
  color: #888;
  padding: 30px 0;
}
.navbar-right .list .item a {
  color: #888;
  text-transform: capitalize;
  font-size: 16px;
}

.navbar-right .list .item.active a {
  color: #469fe4;
}

.navbar-right .list .item:hover a {
  color: #469fe4;
}

.navbar-right .list .item.active {
  border-bottom: 2px solid #469fe4;
}

/* end navbar  */
/* start header  */
.header {
  height: 100vh;
  background-image: url("../img/typingblogfeature.jpg");
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  z-index: 0;
}

.header .overlay {
  background-color: #469fe4;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
  z-index: -1;
}

.header .header-content {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.header .header-content p {
  margin: 20px 0;
}

.header .header-btn a {
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  text-transform: capitalize;
  border: 2px solid #fff;
  display: inline-block;
  margin-bottom: 10px;
}

.header .header-btn .contact-btn {
  background-color: transparent;
  color: #fff;
}

.header .header-btn .learn-btn:hover {
  opacity: 0.8;
}

.header .header-btn .contact-btn:hover {
  background-color: #fff;
  color: #000;
}
/* end header  */
/* start about  */
.about-img {
  float: left;
  width: 50%;
}

.about-img img {
  width: 100%;
}

.about-content {
  float: right;
  width: 50%;
  margin-top: 150px;
}

.about-content h2 {
  color: #303030;
  font-size: 32px;
  font-weight: 400;
}

.about-content p {
  margin: 20px 0;
  font-size: 15px;
}

.about-content .list .item {
  font-size: 15px;
  margin: 15px 0;
}

.about-content .list .item span {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #469fe4;
  display: inline-block;
  color: #fff;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  margin-right: 10px;
}
/* end about  */

/* start project  */
.project {
  margin-top: 50px;
  background-color: #fff;
  width: 100%;
  height: 700px;
}

.project .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 40px;
}
.project .container .project-item{
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #ccc;
    transition: all 0.3s ease-in-out;
}
.project img{
    width: 100%;
    justify-content: center;
}
.project h3{
    margin-top: 10px;
    text-align: center;
    color: #303030;
    font-weight: 400;
    margin-bottom: 20px;
}
.project p {
    font-size: 15px;
    margin: 20px 0;
    justify-content: left;
    grid-area: auto;
    text-align: justify;
    text-justify: inter-word;
    padding: 20px 0;
}


/* end project  */
/* start feeling */
.feeling {
  text-align: center;
  background-color: #469fe4;
  color: #fff;
  padding: 50px 0;
}
.feeling h2 {
  color: #fff;
}
.feeling p {
  margin: 30px 0;
}

.feeling .btn {
  background-color: transparent;
  padding: 10px 20px;
  border-radius: 5px;
  text-transform: capitalize;
  border: 2px solid #fff;
  display: inline-block;
  color: #fff;
}

.feeling .btn:hover {
  background-color: #fff;
  color: #000;
}
/* end feeling */

/* start contact */
.contact {
 width: 100%;

  padding: 50px 0;
  overflow: hidden;
  display: inline-block;
}
.contact h2 {
  margin-top: 20px;
  text-align: center;
  
}
.contact .contact-img{
    float: right;
    width: 40%;
    margin-left: 50px;
    text-align: center;
}

.contact .contact-details-item {
  width: 50%;
  padding: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: flex-start;
  margin: 20px 0;
}
.contact .contact-details-item .start {
  display: flex;
  justify-content: flex-start;
  flex: 1;
  margin-left: 200px;
}
.contact .contact-details-item span {
  color: #797979;
  font-size: 18px;
  font-weight: 600;
  font-family: "Open_Sans", arial;
 padding-top: 5px;
}

.contact .contact-details-item a {
  color: #797979;
  font-size: 14px;
  text-decoration: none;
  font-family: "Open_Sans", arial;
  padding-bottom: 10px;
  padding-top: 10px;
}
.contact .contact-details-item i {
  color: #797979;
  padding-right: 15px;
  font-size: 18px;
  line-height: 1.5em;
}
.contact .contact-details-item a:hover {
  color: #303030;
}

hr{
    width: 50%;
    margin-left: 100px;
}
/* end contact */

/* start footer bottom  */

.footer-bottom {
  background-color: #3c5b73;
  padding: 10px 0;
}


.footer-bottom p {
  color: #d4dbe0;
  float: left;
  line-height: 40px;
  margin-left: 35px;
  padding-left: 15px;
}

.footer-bottom .list {
  float: right;
}

.footer-bottom .list .item {
  float: left;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.08);
  margin-left: 10px;
}

.footer-bottom .list .item .link {
  color: #d4dbe0;
}

.footer-bottom .list .item:hover {
  border: none;
}
.footer-bottom .list .item:hover .link {
  color: #fff;
}
.footer-bottom .list .first-item:hover {
  background-color: #3b5998;
}

.footer-bottom .list .second-item:hover {
  background-color: #125688;
}
.footer-bottom .list .third-item:hover {
  background-color: #6bafef;
}
.footer-bottom .list .last-item:hover {
  background-color: #c42525;
}

/* end footer-bottom  */
